bin
.cache
include/TAL.def
include/TAL-parenthesize.str
include/TAL-Permissive.def
include/TAL.generated.pp.af
include/TAL.packed.esv
include/TAL.pp.af
include/TAL.rtg
include/TAL.str
include/TAL.tbl
include/tal.rtree
include/tal.ctree
include/tal.ctree.dep
include/tal.jar
include/tal-java.jar
editor/java/trans
editor/*.generated.*
syntax/TAL*.generated.esv
syntax/TAL.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
